@model IEnumerable<Clinic_App_01.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Appointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>Date</th>
            <th>Time</th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
                </td>
                <td>@item.AppointmentDateTime.ToString("yyyy-MM-dd")</td> <!-- Display Date Only -->
                <td>@item.AppointmentDateTime.ToString("HH:mm tt")</td>  <!-- Display Time Only -->
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
